github "attaswift/BigInt" ~> 3.1
github "TimOliver/TOCropViewController" ~> 2.5.0
github "kean/Nuke" ~> 7.6
github "groue/GRDB.swift" ~> 3.7.0
github "yannickl/QRCodeReader.swift" ~> 10.1.0
github "scalessec/Toast-Swift" ~> 5.0.0
github "matter-labs/web3swift" "master"
