<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730438719984-2gtuar0bv0j568blm0dgsa6n8h2ikdp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730438719984-2gtuar0bv0j568blm0dgsa6n8h2ikdp4</string>
	<key>API_KEY</key>
	<string>AIzaSyBL9QTk1EN9jTr0PmfjPz-c4Wshfs7AKJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>730438719984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.tipblockchain.kasakasa.ios</string>
	<key>PROJECT_ID</key>
	<string>tip-blockchain</string>
	<key>STORAGE_BUCKET</key>
	<string>tip-blockchain.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730438719984:ios:392008a91bde19f6a66535</string>
	<key>DATABASE_URL</key>
	<string>https://tip-blockchain.firebaseio.com</string>
</dict>
</plist>